.actions {
  li {
    display: inline;
    font-size: 14px;
    margin: 0 0 0 25px;

    a {
      color: #888;
      text-decoration: none;
    }

    &.requires-authentication a {
      background: no-repeat right center;
      @include background-image-retina('icon_lock', 'png', 18px, 18px);
      padding-right: 22px;
    }
  }

  &.actions-block {
    background: #f8f8f8;
    padding: 20px;
    margin: 40px 0;

    li {
      margin: 0;
      display: inline-block;

      a {
        @extend .button;
      }

      &.requires-authentication a {
        padding-right: 28px;
        background-position: 96% center;
      }
    }
  }
}
