.formtastic {
  .stringish input {
    padding: 6px 8px;
  }

  .actions {
    @extend .actions;
    @extend .actions-block;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      @extend .button;
    }
  }

  legend {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    margin: 0 0 20px;
  }
}
