.formtastic {
  .stringish input {
    padding: 6px 8px;
  }

  .actions {
    @extend .actions;
    @extend .actions-block;

    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
      @extend .button;
    }
  }
}
