article.room {

  header {
    overflow: auto;

    h1 { float: left; }

    nav {
      @extend .actions;
      float: right;
    }
  }

  .events {
    margin: 40px 0;
    overflow: auto;

    h1 {
      float: left;
      width: 33%;

      margin: 2px 0;
      font-size: 19px;
    }

    .event-list {
      float: right;
      width: 66%;
      font-size: 17px;

      h2 {
        font-size: 19px;
        margin: 0 0 4px;
      }

      li {
        margin: 0 0 16px;
      }
    }
  }

}
