.room-dashboard {

  &:not(.with-custom-colour) ol li {
    &.available {
      $available_color: #61bd00;

      border-color: $available_color;
      &:first-of-type {
        border-color: $available_color;

        .time {
          background: none;
        }
      }

      .time {
        background: $available_color;
      }
    }
    &.in_use {
      $unavailable_color: #be1900;

      border-color: $unavailable_color;
      &:first-of-type {
        border-color: $unavailable_color;

        .time {
          background: none;
        }
      }

      .time {
        background: $unavailable_color;
      }
    }
  }

  ol {
    padding: 15px 25px;

    li {
      background: #222;
      padding: 0;
      margin: 0 0 15px;
      font-size: 21px;
      overflow: auto;

      h2 {
        float: left;
        font-size: 32px;
        margin-bottom: 0;
        padding: 20px 30px 0;
      }

      .time {
        float: left;
        background: #bbb;
        width: 120px;
        padding: 20px 16px 0;
        font-size: 32px;
        height: 70px;
        text-align: center;
      }
      .arrow, .end-at {
        display: none;
      }

      &:first-of-type {
        border-left: 20px solid;
        padding: 30px 25px 50px;

        h2 {
          font-size: 70px;
          float: none;
          padding: 0;
        }

        &.available h2 {
          font-size: 115px;
        }

        .time {
          float: none;
          background: none;
          text-align: left;
          width: auto;
          height: auto;
          padding: 0;
          margin-bottom: 50px;
          font-size: 35px;
        }
        .arrow, .end-at {
          display: inline;
        }
      }
    }
  }

}
