.room-dashboard {

  ol {
    padding: 15px 25px;

    li {
      border-left: 20px solid #bbb;
      background: #222;
      padding: 25px 20px;
      margin: 0 0 15px;
      font-size: 21px;

      h2 {
        font-size: 33px;
        margin-bottom: 11px;
      }
    }
  }

}
