.room-dashboard {

  &:not(.with-custom-colour) ol li {
    &.available {
      border-color: $available_color;
      &:first-of-type {
        border-color: $available_color;

        .time {
          background: none;
        }
      }

      .time {
        background: $available_color;
      }
    }
    &.in_use {
      border-color: $unavailable_color;
      &:first-of-type {
        border-color: $unavailable_color;

        .time {
          background: none;
        }
      }

      .time {
        background: $unavailable_color;
      }
    }
  }

  ol {
    @extend .dashboard-list;

    padding: 15px 25px;

    h2 {
      @extend .right;
    }

    li {
      .time {
        @extend .left;
      }
      .arrow, .end-at {
        display: none;
      }

      &:first-of-type {
        border-left: 20px solid;
        padding: 30px 25px 50px;

        h2 {
          font-size: 70px;
          float: none;
          padding: 0;
        }

        &.available h2 {
          font-size: 115px;
        }

        .time {
          float: none;
          background: none;
          text-align: left;
          width: auto;
          height: auto;
          padding: 0;
          margin-bottom: 50px;
          font-size: 35px;
        }
        .arrow, .end-at {
          display: inline;
        }
      }
    }
  }

}

.rooms-collection-dashboard {
  ol {
    @extend .dashboard-list;

    h2 {
      @extend .left;
      margin-bottom: 0;
    }

    .status-message {
      @extend .right;
    }

    .available h2 {
      background: $available_color;
    }
    .in_use h2 {
      background: $unavailable_color;
    }

  }
}
