body.dashboard {
  background: #000;
  color: #fff;
  font-size: 27px;
  line-height: 1;

  header {
    background: #fff;
    color: #000;
    height: 80px;

    h1 {
      padding: 27px 0 0 25px;
      font-size: 32px;
    }
  }
}
