body.full {

  .wrap-spacing {
    padding: 40px 30px;
  }

  > header {
    @extend .wrap-spacing;

    width: 25%;
    float: left;

    h1 {
      margin: 0;
      font-size: 21px;

      a {
        color: #000;
        font-weight: normal;
        display: inline-block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  main {
    @extend .wrap-spacing;

    width: 75%;
    float: right;
  }

}
