<ol class="event-list">
  {{#schedule}}
    <li class="{{ status }}">
      <div class="time">
        <span class="start-at">{{ start_at.formatted }}</span>
        <span class="arrow">&rarr;</span>
        <span class="end-at">{{ end_at.formatted }}</span>
      </div>
      <h2>{{ title }}</h2>
    </li>
  {{/schedule}}
</ol>
