<% content_for :title, room.title %>

<section class="room-dashboard">
  <%= render_mustache 'rooms/dashboard_block', presented_room.as_mustache_context %>
</section>

<script type="text/javascript">
<!--

$(function(){
  new MeetingRooms.EventDashboard({
    el: $('.room-dashboard'),
    dataSource: '<%= room_path(room, format: 'json') %>',
    template: 'rooms/_dashboard_block',
    delay: 5000
  });
});

-->
</script>
