<h1><%= room.title %></h1>

<h2>Events</h2>

<ol>
  <%= render partial: 'event', collection: room.events %>
</ol>

<ul>
  <li><%= link_to 'Edit room', edit_room_path(room) %></li>
  <li><%= link_to 'Import events', import_room_path(room), method: :post %></li>
</ul>
